{% extends "resgate/layout/base.html" %}
{% load static %}




{% comment %}

{% endcomment %}

{# overide the tile of the page #}
{% block title %}

<title>Resgate</title>
{% endblock %}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

<style>
    .movie img{
        width:300px;
    }
</style>
<main>
       <header>

       </header>

        <section class="movies">
            <div class="container-fluid">
                <div class="row">
                         <div class="col-md-3">
                             <div class="movie">
                                  <img src="{% static "images/poster.jpg" %}" alt="movies">
                                 <h1>Hello</h1>
                        </div>
                      <form  action="{% url 'payment' %}" method="post">
                        {% csrf_token %}
                        <label for="number">Numero: </label>
                        <input id="number" type="text" name="number" value="">
                        <input type="hidden" name="movieid" value="">
                        <input type="submit" value="Enviar">
                    </form>
                      </form>
    

                </div>
                      
                </div>
            </div>

        </section>
</main>
{% endblock %}







