<nav class="navbar navbar-expand-lg nav-color">
    <div class="container">
        <div class="row">
            <a class="navbar-brand" href="#">Xindiri</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Painel <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Transações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">API</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Definições</a>
                    </li>


                </ul>

            </div>
        </div>
    </div>
</nav>
